@{
    List<string> Categorias = (List<string>)ViewBag.CriaCategorias;
}

@foreach (var item in Categorias)
{
    <div class="categoria">
        <div class="categoria__topo">
            <div class="nomeCategoria"> @item </div>
            <div class="botoes">

                <button class="learn-more">
                    <span class="circle" aria-hidden="true">
                        <i class="trash fa fa-trash"></i>
                    </span>
                    <span class="button-text">Apagar Categoria</span>
                </button>
            </div>
        </div>
        <hr>
        <div class="categoria__baixo">
                <div class="alimentos">
                    <ul class="alimentos__ul">
                        @Html.Partial("_Alimentos")
                    </ul>
                    <button class="learn-more">
                        <span class="circle-add-alimento" aria-hidden="true">
                            <i class=" fa fa-plus"></i>
                        </span>
                        <span class="button-text2">Adicionar alimentos</span>
                    </button>
                </div>
            </div>
    </div>
}

