

<div class="categoria">
    <div class="categoria__topo">
        <div class="nomeCategoria">Arroz</div>
        <div class="botoes">

            <button class="learn-more">
                <span class="circle" aria-hidden="true">
                    <i class="trash fa fa-trash"></i>
                </span>
                <span class="button-text">Apagar Categoria</span>
            </button>
            <!-- <button class="botoes__adiciona"><i class="fa fa-plus"></i></button> -->
            <!-- <button class="botoes__deleta"></button> -->
        </div>
    </div>
    <hr>
    <div class="categoria__baixo">
        <!-- <div class="botao__switch">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div> -->
        <div class="alimentos">
            <ul class="alimentos__ul">
                <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label for="checkboxOne">Branco</label></li>
                <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy"><label for="checkboxTwo">Integral</label></li>
                <li><input type="checkbox" id="checkboxThree" value="Rarity"><label for="checkboxThree">Verde</label></li>
                <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label for="checkboxFour">Carreteiro</label></li>

            </ul>
        </div>
    </div>
</div>