@{
    List<ProjetoAlmoco.Application.Models.Categoria> Categorias = (List<ProjetoAlmoco.Application.Models.Categoria>)ViewBag.CriaCategorias;

    var aviso1 = ViewBag.AvisoCategoria;
}

@foreach (var categoria in Categorias)
{
    <div class="categoria">
        <div class="categoria__topo">
            <div class="nomeCategoria"> @categoria.Nom_Categoria</div>
        </div>
        <hr>
        <div class="categoria__baixo">
            <div class="alimentos">
                <ul class="alimentos__ul alimentos__ul__Cliente">
                    @foreach (var alimento in categoria.Alimentos)
                    {
                            <li>
                                <input type="checkbox" id='@alimento.Num_IDAlimento.ToString()' value="Rainbow Dash">
                                <div class="alimento-redondo ">
                                    <label for='@alimento.Num_IDAlimento.ToString()'>@alimento.Nom_Alimento </label>
                                </div>
                            </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}