<div class="topbar">
    <img class="topbar__logo" src="~/Content/Img/logo-smn.png" alt="SMN Tecnologia">
    <div class="topbar__mensagem"><h2 id="nomeUsuario">Bem-Vindo @ViewBag.Cliente.Nom_Cliente</h2></div>

    <img class="topbar__logout" src="~/Content/Img/logout.png" alt="Sair da conta">
</div>
