
<div id="myBtn" class="conteudo">
    <div class="conteudo__titulo">
        <h1>Monte seu prato do dia.</h1>
        @Html.Partial("_CardCardapio")
        <input id="liberarCardapio" class="conteudo liberar-cardapio" type="submit" href="login.html" value="ENVIAR PEDIDO">
    </div>
</div>