@{
    List<ProjetoAlmoco.Application.Models.Cliente> Cliente = (List<ProjetoAlmoco.Application.Models.Cliente>)ViewBag.BuscaClientes;
}

<div class="lista-pedido">
    <h1>Lista de Clientes Cadastrados</h1>
    <div class="lista-pedidos__scroll">
        @foreach (var cliente in Cliente)
         {
            <div class="pedido">
                <div class="pedido__superior">
                    <h2>@cliente.Nom_Cliente</h2>
                    <div class="pedido__superior__botoes">
                        @*CadastroCliente(tipoOperacao, caminho, nomeBtn, id, nome, user)*@
                        <buttom onclick="CadastroCliente('Alterar usuário', '../Admin/AlterarClienteAdm','CADASTRAR', @cliente.Num_IDCliente , '@cliente.Nom_Cliente', '@cliente.Nom_Usuario')" class="p_s_b_add"><i class=" fa fa-pencil-alt"></i></buttom>
                        <buttom onclick="DeleteModal('Apagar Cliente?', '../Admin/DeletarClienteAdm/@cliente.Num_IDCliente','APAGAR', 'O cliente será deletado permanentemente!')" class="p_s_b_delete"><i class=" fa fa-trash"></i></buttom>

                    </div>
                </div>
            </div>
         }
        </div>
    <button onclick="location.href='../Admin/ListarPedidos';" class="voltar-btn"> VOLTAR</button>
</div>