@*@{ Layout = null;}*@
@{
    var action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    //string caminho = "";
}
<div class="lista-pedido">
    <div class="lista-pedido__botoes">
        <div class="lista-pedido__btn">

            <button onclick="MudarCardapio('@Url.Action("MudarCardapio")')" class="lista-pedido-btn">
                <span class="circle-add-alimento " aria-hidden="true">
                    <i class=" fas fa-pencil-alt" id="azul"></i>
                </span>
                <span class="button-text2">Editar Cardápio</span>
            </button>

            <button onclick="ListarClientes('@Url.Action("ListarClientes")')" class="lista-pedido-btn">
                <span class="circle-add-alimento " aria-hidden="true">
                    <i class="  fas fa-pencil-alt" id="amarelo"></i>
                </span>
                <span class="button-text2">Editar Clientes</span>
            </button>

            <button onclick="NovoPedido('@Url.Action("NovoPedido")')" class="lista-pedido-btn">
                <span class="circle-add-alimento">
                    <i class=" fa fa-plus" id="verde"></i>
                </span>
                <span class="button-text2">Adicionar Pedido</span>
            </button>
        </div>
    </div>
    <div class="lista-pedidos__scroll">
        @Html.Partial("_CardPedido")
    </div>
</div>

