
<div id="myBtn" class="conteudo">
    <div class="conteudo__titulo">
        <h1>Selecione o cardápio do dia.</h1>

        <button onclick="CadastroModal('Nova Categoria', 'Categoria/Index','CADASTRAR', 0)" class="learn-more">
            <span class="circle-add" aria-hidden="true">
                <i class=" fa fa-plus"></i>
            </span>
            <span class="button-text">ADD Categoria</span>
        </button>

       @Html.Partial("_CardCriaCardapio")

        <input class="conteudo liberar-cardapio" type="submit" href="login.html" value="LIBERAR CARDÁPIO">
    </div>
</div>