
<div id="myBtn" class="conteudo">
    <div class="conteudo__titulo">
        <h1>Selecione o cardápio do dia.</h1>

        <button onclick="CadastroModal('Nova Categoria', '@Url.Action("Index","Categoria")','CADASTRAR', 0)" class="learn-more">
            <span class="circle-add" aria-hidden="true">
                <i class=" fa fa-plus"></i>
            </span>
            <span class="button-text">Adicionar Categoria</span>
        </button>
        <div id="teste"></div>

        @Html.Partial("_CardCriaCardapio")

        <input id="liberarCardapio" onclick="itensSelecionados('@Url.Action("ListarPedidos")')" class="conteudo liberar-cardapio" type="submit" href="login.html" value="LIBERAR CARDÁPIO">
        @*@Html.ActionLink("VOLTAR", "ListarPedidos", "Admin", new { @class = "voltar-btn2" })*@
    </div>
</div>