<div class="conteudo">
    <div class="conteudo__titulo">
        <h1>Selecione o cardápio do dia.</h1>
        <h4><a id="myBtn" onclick="insModal('novaCategoria')" class="addCat" href="#">Adicionar nova categoria</a></h4>
       
        @RenderPage("~/Views/Shared/_CardCriaCardapio.cshtml")
    </div>

</div>