
/* ======== LOGIN ========= */

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    height: 10%;
    width: 10%;
}

.login__titulo {
    margin-top: 0;
    color: white;
    text-align: center;
    height: auto;
}

    .login__titulo h1 {
        margin-top: 0;
        font-size: 2em;
    }

    .login__titulo h4 {
        margin-bottom: 0;
        font-size: 1em;
    }

.login__form__Item {
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.login__form {
    width: 30%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.login__link {
    margin-top: 25px;
    background-color: var(--cor-btn-confirma);
    color: white;
    font-size: 15pt;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .4s;
    outline: none;
}

    .login__link:focus {
        width: 13%;
        color: var(--cor-btn-confirma)
    }

.login__cadastro {
    text-decoration: none;
    color: var(--cor-btn-confirma);
    margin-top: 10px;
    text-decoration: underline;
}
