/* Fonte do site */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


:root {
    --cor-fundo: #023145;
    --cor-btn-confirma: #00E866;
    --cor-btn-cancela: #707070;
    --cor-input: #395c6d;

}

/* Scroll personalizado */
::-webkit-scrollbar {
    width: 9px
}

::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 30px
}

::-webkit-scrollbar-thumb {
    background: #0080c0;
    border-radius: 30px
}

/* padrões de uso */

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.flex {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* PLaceholder */
::placeholder {
    color: white;
    padding-left: 0%;
    font-size: 15pt;
}


/* inputs */
input[type = "text"], input[type = "password"] {
    margin-top: 10px;
    width: 70%;
    height: 20px;
    background-color: var(--cor-input);
    border: none;
    /* border-radius: 50px; */
    border-radius: 50px 10px 50px;
    padding: 20px;
    font-size: 15pt;
    color: white;
    padding-left: 10%;
    transition: .5s;
    outline: none;
}

    input[type = "text"]:focus, input[type = "password"]:focus {
        width: 90%;
        border-radius: 10px 50px 10px;
    }

.texto {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    position: absolute; 
    margin:0;
    padding: 0;
    margin-left: 2%;
    font-size: 16pt;
    align-items: center;
}



/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding-right:10px;
    
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.cadCategoria__link {
    margin-top: 25px;
    background-color: var(--cor-btn-confirma);
    color: white;
    font-size: 15pt;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .4s;
    outline: none;
}

    .cadCategoria__link:focus {
        width: 13%;
        color: var(--cor-btn-confirma)
    }