@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

:root{
    --cor-fundo:#023145;
    --cor-btn-confirma:#00E866;
    --cor-btn-cancela:#707070;
    --cor-input:#395c6d;
    --cor-deleta:#FF5B5B;
}

/* ADM home */

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: fit-content;
    width: fit-content;
}

.topbar__logo{
    height: 6%;
    width: 6%;
}

.topbar__logout{
    width: 3%;
    height: 3%;
    
}

.topbar__mensagem{
    color: white;
    margin-left: -50px;
}

/* =========================== */
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
}

.conteudo__titulo{
    color: white;
}

.addCat{
    color: var(--cor-btn-confirma);
    text-decoration: underline;
}

/* categoria */

.categoria{
    margin-top: 15px;
    width: 50vw;
    background-color: white;
    border-radius: 30px;
    padding-bottom: 15px;
   
}
.nomeCategoria{
    color: black;
    font-size: 2em;
    font-weight: bold;
    width: fit-content;
}
.categoria__topo{
    padding: 1em;
    padding-left: 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.liberar-cardapio{
  margin: 50px;
  background-color: var(--cor-btn-confirma);
  border: none;
  border-radius:30px ;
  color: white;
  font-size: 16pt;
  padding: 8px 30px;
  cursor: pointer;
  outline: none;
}

/* ====================== */

.categoria hr{
    width: 80%;
    height: 1px;
    background-color: var(--cor-btn-cancela);
 
}


 /* AlIMENTOS */
.alimentos__ul {
    list-style: none;
    padding: 5px;
    margin-bottom: 10px;
  }
  .alimentos__ul li {
    display: inline;
  }


  .alimentos__ul li .alimento-redondo /*label*/ {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid var(--cor-btn-cancela);
    color: #000000;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
  }
  
  .alimentos__ul li .alimento-redondo /*label*/ {
    padding:2px 2px  2px 8px;

   
  }
  .alimentos__ul li .alimento-redondo label{
    cursor: pointer;
  }

  .alimentos__ul li .alimento-redondo i {
    color: white;
    background-color:white;
    padding:8px;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s ease-in-out;
  }

  .alimentos__ul li input[type="checkbox"] + .alimento-redondo:hover i {
    background-color: var(--cor-deleta);
    transform: rotateY(360deg);
    transition: .5s ease-in-out;
  }

  .alimentos__ul li input[type="checkbox"]:checked + .alimento-redondo:hover i {
    background-color: var(--cor-deleta);
    color: white;
    transform: rotateY(360deg);
    transition: .5s ease-in-out;
  }

  .alimentos__ul li input[type="checkbox"]:checked + .alimento-redondo i {
    background-color: var(--cor-btn-confirma);
    color: var(--cor-btn-confirma);
    transition: .5s ease-in-out;
  }

  
  .alimentos__ul li .alimento-redondo label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform 0.3s ease-in-out;
  }
  
  .alimentos__ul li input[type="checkbox"]:checked + .alimento-redondo label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .alimentos__ul li input[type="checkbox"]:checked + .alimento-redondo /*label*/ {
    border: 2px solid var(--cor-btn-confirma);
    background-color: var(--cor-btn-confirma);
    color: #fff;
    transition: all 0.2s ease-in-out;
    /* padding: 8px 0px 8px 12px ; */
  }

   .alimentos__ul li input[type="checkbox"] {
    display: absolute;
  }
  .alimentos__ul li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }

  .alimentos__ul li input[type="checkbox"]:focus + .alimento-redondo  {
    border: 2px solid var(--cor-btn-confirma);
  }
