@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

:root{
    --cor-fundo:#023145;
    --cor-btn-confirma:#00E866;
    --cor-btn-cancela:#707070;
    --cor-input:#395c6d;
    --cor-deleta:#FF5B5B;
}

/* ADM home */

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: fit-content;
    width: fit-content;
}

.topbar__logo{
    height: 6%;
    width: 6%;
}

.topbar__logout{
    width: 3%;
    height: 3%;
    
}

.topbar__mensagem{
    color: white;
    margin-left: -50px;
}

/* =========================== */
.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
}

.conteudo__titulo{
    color: white;
}

.addCat{
    color: var(--cor-btn-confirma);
    text-decoration: underline;
}

/* categoria */

.categoria{
    width: 50vw;
    background-color: white;
    border-radius: 30px;
   
}
.nomeCategoria{
    color: black;
    font-size: 2em;
    font-weight: bold;
    width: fit-content;
}
.categoria__topo{
    padding: 1em;
    padding-left: 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

/* SWITCH */
.botao__switch{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.onoffswitch {
    position: relative; width: 122px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 15px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 33px; padding: 0; line-height: 33px;
    font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SELECIONA";
    text-align: left;
    padding-left: 10px;
    background-color: #00E866; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "DELETA";
    padding-right: 10px;
    background-color: #FF5B5B; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 7.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 85px;
    border: 2px solid #FFFFFF; border-radius: 15px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* ====================== */

.categoria hr{
    width: 80%;
    height: 1px;
    background-color: var(--cor-btn-cancela);
 
}

/* AlIMENTOS */
.alimentos__ul {
    list-style: none;
    padding: 5px;
  }
  .alimentos__ul li {
    display: inline;
  }
  .alimentos__ul li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid var(--cor-btn-cancela);
    color: #000000;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
  }
  
  .alimentos__ul li label {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .alimentos__ul li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform 0.3s ease-in-out;
  }
  
  .alimentos__ul li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .alimentos__ul li input[type="checkbox"]:checked + label {
    border: 2px solid var(--cor-btn-confirma);
    background-color: var(--cor-btn-confirma);
    color: #fff;
    transition: all 0.2s;
  }
  
  .alimentos__ul li input[type="checkbox"] {
    display: absolute;
  }
  .alimentos__ul li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
  }
  .alimentos__ul li input[type="checkbox"]:focus + label {
    border: 2px solid var(--cor-btn-confirma);
  }
  

